<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新闻网站首页</title>
		<script type="text/javascript" src="../js/properties.js" ></script>
		<script type="text/javascript" src="../js/csa.js" ></script>
		<link rel="stylesheet" href="../css/csa.css" />
		<style>
			.nav{background-image: url(../img/nav_news.jpg); background-size: cover;
					background-repeat:no-repeat; padding-top: 60px;}
			.imgul img{width: 100%;height: 80px;}
			.imgul li{width: 32%;margin-left: 1%;}
			.csa-border-light{margin-bottom: 10px;}
		</style>
		<script>
			
		</script>
	</head>
	<body>
		<div class="csa-grid-row">
			<div class="csa-grid10 csa-pos-mid">
				<div class="nav" >
					<div>
						<h2 class="csa-inline-block" style="color: white; "><span style="color: white;">咱就谦虚点,就叫</span>超级无敌新闻网</h2>
						<form style="margin-left: 120px;" class="csa-form csa-inline-block">
							<input type="search"  /><button class="csa-btn-default">搜索</button>
						</form>
						<div style="color: white;" class="csa-date-default"></div>
					</div>
					<ul class="csa-ul-nav csa-bg-purple">
						<li>首页</li>
						<li>java ee</li>
						<li>web前端</li>
						<li>数据库</li>
						<li>网络安全</li>
						<li>Android</li>
						<div style="clear: both;"></div>
					</ul>
				</div>
			</div><!--grid_end-->
			<div style="clear: both;"></div>
		</div><!--grid-row_end-->
		
		<div class="csa-grid-row">
			<div class="csa-inline-block csa-pos-mid">
				<div class="csa-grid3">
					<h3>今日头条</h3>
					<img src="../img/img1.jpg" class="csa-img" />
					<pre>    百度掌技术，阿里重规模，腾讯把持着社交与游戏，是妥妥的三种企业文化，三个经营方向，三者分别认为数据的价值在于算法、数据量、场景化， 这其实是暗合了三家公司的经营方向与理念。</pre>
					<ul class="csa-simple-menu-default">
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
					</ul>
					<hr />
					<h3>大哥日记</h3>
					<img src="../img/img4.jpg" class="csa-img" />
					<pre>    在前不久的一次公开会议上，李彦宏、马云、马化腾又对数据的应用产生了公开分歧，三者分别认为数据的价值在于算法、数据量、场景化， 这其实是暗合了三家公司的经营方向与理念。</pre>
					<ul class="csa-simple-menu-default">
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
					</ul>
				</div><!--grid_end-->
				<div class="csa-grid3">
					<h3>普通新闻</h3>
					<img src="../img/img2.jpg" class="csa-img" />
					<pre>    在今天这个时候，我们年轻一代的主力Android工程师更关注Android开发什么内容？ 他们有哪些美好的想法能帮助广大开发者写出更规范，更优美的代码， 开发出性能更高效、更安全，更稳定应用程序</pre>
					<ul class="csa-simple-menu-default">
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
					</ul>
					<hr />
					<h3>娱乐快报</h3>
					<img src="../img/img2.jpg" class="csa-img" />
					<pre>    在今天这个时候，我们年轻一代的主力Android工程师更关注Android开发什么内容？ 他们有哪些美好的想法能帮助广大开发者写出更规范，更优美的代码， 开发出性能更高效、更安全，更稳定应用程序</pre>
					<ul class="csa-simple-menu-default">
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
						<li><a>新闻标题：某某的新闻</a></li>
					</ul>
				</div><!--grid_end-->
				<div class="csa-grid4">
					<div class="csa-border-light">
						<h3>最新新闻</h3>
						<ul class="csa-ul imgul">
							<li><a><img src="../img/img4.jpg" /></a><a>点击播放</a></li>
							<li><a><img src="../img/img3.jpg" /></a><a>点击播放</a></li>
							<li><a><img src="../img/img2.jpg" /></a><a>点击播放</a></li>
						</ul>
						<div style="clear: both;"></div>
					</div>
					<div class="csa-border-light">
						<h3>登录一波</h3>
						<hr />
						<form class="csa-form">
							<div class="csa-form-item">
								<input type="text" placeholder="请输入用户名" />
							</div>
							<div class="csa-form-item">
								<input type="password" placeholder="请输入密码" />
								<button type="submit" class="csa-btn-default">登录</button>
							</div>
							<div class="csa-form-item">
								<a>还未注册？请点击注册！</a>
							</div>
						</form>
					</div>
					<div class="csa-border-light">
						<h3>论坛</h3>
						<h4>窃听与实现</h4>
						<pre>发起人 马云 于 系统网络安全关机窃听原理与实现,马云于系统网络安全</pre>
						<hr />
						<h4>一张思维导图学会如何构建高性能MySQL系统！</h4>
						<pre>发起人马化腾 于 数据库一张思维导图学会如何构建高性能MySQL系统13:00 1月21日, 2020</pre>
						<hr />
						<a>查看全部</a>
					</div>
				</div><!--grid_end-->
			</div>
			<div style="clear: both;"></div>
		</div><!--grid-row_end-->
		
	</body>
</html>
